# Base de datos local (Docker)
mysql_data/
*.sqlite

# Dependencias de Node
**/node_modules/

# Seguridad y Configuración
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/public/uploads/